* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thumbnail-container {
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.thumb-image {
  width: 100px;
  height: 100px;
  padding: 2px;
  cursor: pointer;
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

/* for mobile devices */
@media (width <800px) {
  .thumbnail-container {
    right: 3vh;
    left: auto;
  }
}
